.other-settings-section {
  .rounded-switch-container {
    display: inline-block;
  }

  .rounded-switch-label {

  }

  .change-password {
    color: #212529;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    justify-content: flex-end;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .currency-select-container {
    display: flex;
    flex-direction: row;
  }
  .currency-label {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .currency-select {
    width: 160px;
    color: #2f5597;
    border-color: #2f5597;

  }
}