.status-section {
  width: 100%;
  text-align: center;
  padding: 35px 0 50px 0;
  border-bottom: 1px solid #002060;
}
.status-section .signin-button,
.status-section .register-button {
  padding: 8px 15px;
  background-color: #002060;
  border-radius: 30px;
  color: white;
  margin: 0 10px;
  width: 110px;
  text-decoration: none;
}
.status-section .status-block {
  padding-top: 60px;
}
.status-section .status-block .status-title {
  border-radius: 6px;
  padding: 3px 0;
  background-color: #002060;
  color: white;
  margin: 3px 0 3px 0;
}
.status-section .status-block .doubleStatus-item {
  margin: 3px 0 3px 0;
}
.status-section .status-block .doubleStatus-item .doubleStatus-label,
.status-section .status-block .doubleStatus-item .doubleStatus-value {
  border-radius: 6px;
}
.status-section .status-block .doubleStatus-item .doubleStatus-label {
  color: white;
  background-color: #222222;
  margin-right: 1px;
}
.status-section .status-block .doubleStatus-item .doubleStatus-value {
  color: black;
  background-color: white;
  border: 1px solid #002060;
  margin-left: 1px;
}
.status-section .status-block .doubleStatus-item .doubleStatus-value.up {
  color: #92d050;
}
.status-section .status-block .doubleStatus-item .doubleStatus-value.down {
  color: #f798b5;
}
.status-section .single-status-item {
  border-radius: 6px;
  color: black;
  background-color: white;
  border: 1px solid #002060;
  margin: 3px 0 3px 0;
}
