.dashboard-section {
  padding: 20px 0;
  background: linear-gradient(-45deg, #2e5496, #022262, #1e4c78);
  .Aligner-item--top {
    align-self: flex-start;
  }

  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .title, .balance, .rate, .equivalent {
    color: white;
  }

  .title {
    font-size: 2.0em;
    margin-bottom: 20px;
  }

  .equivalent {
    font-size: 0.7em;
    text-align: right;
    width: 100%;
  }
  .balance {
    display: inline-block;
  }

  .transparent-div {
    background: transparent;
    border-radius: 15px;
    color: white;
    border: 1px solid white;
    padding: 4px 2px;
    margin-bottom: 20px;
  }

  .deposit-block, .withdraw-block, .address-block {
    padding: 10px 40px;
  }

  .currency-select-container {
    display: flex;
    flex-direction: row;
  }
  .currency-label {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    color: white;
    padding-top: 0 !important;
  }
  .currency-select {
    width: 160px;
    border-color: #2f5597;
    background-color: transparent;
    color: white;
  }

  .transfer-exchange-rate {
    position: relative;

    .amount {
      position: absolute;
      top: -30px;
      padding-right: 30px;
      color: white;
      width: 100%;
      text-align: center;
    }

    span {
      color: white;
    }

    .gna-box {
      padding: 10px 40px;
      border: 1px solid #41719c;
      border-radius: 10px;
      color: white;
    }

    .gna-label {
      color: white;
    }

    .to-dollar {
      color: white;
    }
  }

  .submit-button {
    float: right;
    color: white;
    border: 1px solid #41719c;
    background-color: #002060;
    border-radius: 30px;
    min-width: 150px;
  }
}
