.settings {
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.settings .title {
  font-size: 3em;
  margin-bottom: 100px;
}
.settings .Aligner-item--top {
  align-self: flex-start;
}
.settings .Aligner-item--bottom {
  align-self: flex-end;
}
