.settings {
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;

  .title {
    font-size: 3.0em;
    margin-bottom: 100px;
  }


  .Aligner-item--top {
    align-self: flex-start;
  }

  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .Aligner-item-center {
  }
}