.account-info-section {
  position: relative;
  width: 100%;
}
.account-info-section .photo-uploader-container {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.account-info-section .account-info-container {
  padding-left: 250px;
  text-align: left;
}
.account-info-section .divider {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d0cece;
  padding: 0;
  right: 0;
  margin-right: -2px;
}
@media only screen and (max-width: 767px) {
  .account-info-section .divider {
    display: none;
  }
}
