.reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 991px) {
  .reset-password .Aligner-item {
    max-width: 50%;
  }
}
.reset-password .Aligner-item--top {
  align-self: flex-start;
}
.reset-password .Aligner-item--bottom {
  align-self: flex-end;
}
.reset-password .enter-email-label {
  color: #6c757d;
}
