.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 991px) {
  .forgot-password .Aligner-item {
    max-width: 50%;
  }
}
.forgot-password .Aligner-item--top {
  align-self: flex-start;
}
.forgot-password .Aligner-item--bottom {
  align-self: flex-end;
}
.forgot-password .enter-email-label {
  color: #6c757d;
}
