.register-section {
  text-align: center;
  width: 100%;
  padding: 30px 90px;

  .title {
    font-size: 3.0em;
    margin-bottom: 30px;
  }

  div {
    padding: 2px 3px;
  }

  .register-button {

  }
}