.register-section {
  text-align: center;
  width: 100%;
  padding: 30px 90px;
}
.register-section .title {
  font-size: 3em;
  margin-bottom: 30px;
}
.register-section div {
  padding: 2px 3px;
}
.register-section .kyc {
  display: none;
}
.register-section .divider {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d0cece;
  padding: 0;
  margin-left: -110px;
}
@media only screen and (max-width: 767px) {
  .register-section .divider {
    display: none;
  }
}
