.change-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .Aligner-item {
    @media only screen and (min-width: 991px) {
      max-width: 50%;
    }
  }

  .Aligner-item--top {
    align-self: flex-start;
  }

  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .enter-email-label {
    color: #6c757d;
  }
}